<div>
  <div>
    <h1>
      Photo details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <% if session.fetch(:user_id) == @the_photo.owner_id  %>
      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
      <% end %>
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_photo.image %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% photo_fans = Like.where({ :photo_id => @the_photo.id }) %>
        <% photo_fans.each do |a_like| %>
        <% a_fan_name = User.where({ :id => a_like.fan_id }).at(0) %>
        <%# a_like.fan_id.username %>
        <%= a_fan_name.username %>,
        <% end %>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
        <form action="/insert_like" method="post">
      <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
      <button>Like</button>
    </form>
      </dd>

     
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
     <% if session.fetch(:user_id) == @the_photo.owner_id  %>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_photo.location %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
    <% end %>
  </div>
</div>

<hr>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

    <tr>
      <td>
        roselee
      </td>

      <td>
        Know how to listen, and you will profit even from those who talk badly.
      </td>

      <td>
        almost 4 years ago
      </td>
    </tr>  

</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="777" name="query_photo_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
